h1 {
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 10px;
}
p {	
	padding: 5px 0 5px 1em;
}
em { 
	font-style: italic; 
}
.example {
	margin: 0 1em;
	border: 1px solid #ccc;
	padding: 5px 0;
	margin: 5px 10px 20px 10px;	
}
.tabs { 
	background-color: #eee; 
	border-bottom: 1px solid #ccc; 
	list-style: none;
	margin: 0; 
	padding: 10px 5px 1px 5px;
	zoom:1; 
}
.tabs:after { 
	display: block; 
	clear: both; 
	content: " "; 
}

.tabs li {
	float: left; 
	margin: 0 1px 0 0; 
	padding-left: 5px; 
}
.tabs a {
    display: block; 
    position: relative; 
    top: 1px; 
    border: 1px solid #ccc;
    border-bottom: 0; 
    z-index: 2; 
    padding: 2px 9px 3px; 
    color: #444; 
    text-decoration: none;
    white-space: nowrap;
}
.tabs a:focus,
.tabs a:active { 
	outline: none; 
}
.tabs a:hover,
.tabs a:focus,
.tabs a:active { 
	background: #fff; 
	cursor: pointer; 
}
.ui-tabs-selected a { 
	background-color: #fff; 
	color: #000; 
	font-weight: bold; 
    padding: 2px 8px 1px; 
	border-bottom: 1px solid #fff; 
	border-top: 3px solid #fabd23; 
	border-left: 1px solid #fabd23; 
	border-right: 1px solid #fabd23; 
	margin-bottom: -1px; 
	overflow: visible;
}
.ui-tabs-hide { 
	display: none; 
	background-color: #fff 
}
.ui-tabs-panel {
	padding: 0.5em;
}