.nonedit {
font-style: italic;
}

table.tags
{
border-collapse:collapse;
}
table.tags, th, td
{
border: 1px solid #cccccc;
}
table.tags th
{
padding:2px;
font-weight:bold;
}
table.tags td
{
padding:2px;
}

#map {
height: 480px;
width: 640px;
}
h4 { 
font-size: 14pt;
color:#8cc68b;
}
#tableholder  {
margin:10px;
}