.nonedit {
font-style: italic;
}

table.tags
{
border-collapse:collapse;
}
table.tags, th, td
{
border: 1px solid #cccccc;
}
table.tags th
{
padding:2px;
font-weight:bold;
}
table.tags td
{
padding:2px;
}