html {
 overflow-y: scroll !important;
}
body {
   font-size: 0.8em;
   font-family: Arial;
}
.tabs { 
   background-color: #eee; 
   border-bottom: 1px solid #ccc; 
   list-style: none;
   margin: 0; 
   padding: 10px 5px 1px 5px;
   zoom:1; 
}
.tabs:after { 
   display: block; 
   clear: both; 
   content: " "; 
}

.tabs li {
   float: left; 
   margin: 0 1px 0 0; 
   padding-left: 5px; 
}
.tabs a {
   display: block; 
   position: relative; 
   top: 1px; 
   border: 1px solid #ccc;
   border-bottom: 0; 
   z-index: 2; 
   padding: 2px 9px 3px; 
   color: #444; 
   text-decoration: none;
   white-space: nowrap;
}
.tabs a:focus,
.tabs a:active { 
   outline: none; 
}
.tabs a:hover,
.tabs a:focus,
.tabs a:active { 
   background: #fff; 
   cursor: pointer; 
}
.ui-tabs-selected a { 
   background-color: #fff; 
   color: #000; 
   font-weight: bold; 
   padding: 2px 9px 1px; 
   border-bottom: 1px solid #fff; 
   border-top: 3px solid #fabd23; 
   border-left: 1px solid #fabd23; 
   border-right: 1px solid #fabd23; 
   margin-bottom: -1px; 
   overflow: visible;
}
.ui-tabs-hide { 
   display: none; 
   background-color: #fff 
}
.ui-tabs-panel {
   padding: 0.5em;
}


.ui-tabs-paging-next { 
	float: right !important;
}
.ui-tabs-paging-prev,
.ui-tabs-paging-next {
	background: transparent !important;
	border: 0 !important;
	margin-bottom: 1px !important;
}

#example2 .ui-tabs-paging-prev,
#example2 .ui-tabs-paging-next {
	font-weight: bold;
}
.ui-tabs-paging-prev a,
.ui-tabs-paging-next a {
    display: block; 
    position: relative; 
    top: 1px; 
    border: 0;
    z-index: 2; 
    padding: 0;
    /* color: #444; */ 
    text-decoration: none;
	background: transparent !important; 
	cursor: pointer;
}
.ui-tabs-paging-next a:hover,
.ui-tabs-paging-next a:focus,
.ui-tabs-paging-next a:active,
.ui-tabs-paging-prev a:hover,
.ui-tabs-paging-prev a:focus,
.ui-tabs-paging-prev a:active { 
	background: transparent; 
}
.ui-tabs-paging-disabled {
	visibility: hidden;
}